<h1 class="footer_caillou">Chambres d'h&ocirc;tes <span class="footer-marque">Le Caillou</span></h1>
<address>
    <h2 class="nom">Monique et Pierre Coutant</h2>
    78 rue de Saint-Andr&eacute;<br>
    45370 Cl&eacute;ry-Saint-Andr&eacute;
    <br>
    <img src="../../../../sites/default/images/phone.svg"> 02 38 45 74 81
    <img src="../../../../sites/default/images/device-mobile.svg"> 06 78 66 59 69
</address>
